.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    max-width: 106rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    gap: 2rem;

}
