.registerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/src/assets/Banner1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
  }
