.formContatos {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 32.4375rem;
  margin: 1rem;
}
.root {
  color: white;
}

.wrapperContacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12rem;
  margin: 1rem;


}
@media screen and (max-width: 768px) {
  .wrapperContacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

  }
}
  

.infoContatos {
  display: flex;
  flex-direction: column;
  width: 32.4375rem;
  margin: 1rem;
 
  
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

#messageInput {
  color: white;
}

.endereco, .horario, .telefone{
  margin-top: -1rem;
  display: flex;
  align-items: flex-start;
  color: white;
  font-size: 0.975rem;
  font-weight: normal;
}
