.boxServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  width: 21.25rem;
  height: 36.625rem;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

/* resposividade celular */
@media screen and (max-width: 768px) {
  .boxServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    width: 21.25rem;
    height: 36.625rem;
    /* margin só pra esquerda e direita */
    margin: 0 1rem;
  }
  .boxServices h2 {
    display: flex;
    justify-content: center;
  }
  .description-services p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.img {
  width: 14.375rem;
  height: 15.97119rem;
  object-fit: cover;
  background-color: azure;
  padding: 1.25rem 0.94rem;
  box-sizing: border-box;
  border-radius: 1.5625rem;
}

.boxServices article {
  padding: 1rem;
}

.boxServices h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.5rem;
  height: 3.8125rem;
  color: #fff;
  font-family: Roboto;
  font-size: 2.00006rem;
  font-style: normal;
  font-weight: 700;
}

.description-services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 11.25rem;
  justify-content: center;
  box-sizing: border-box;
}

.description-services p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Roboto;
  font-size: 1.2rem;
  font-style: normal;
  line-height: 1.25;
}
