* {
  scroll-padding-top: 9rem;
  text-decoration: none;
  margin: auto;
}
.header {
  background-color: rgba(2, 2, 21, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7.5rem;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: opacity 0.2s;

}

.logo{
  width: 10.25rem;
}
.loginHeader {
  display: flex;
  justify-content: center; 
}


.btnEntrar{
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    height: 7.5rem;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 7rem;
  }
  .iconEnter{
    display: flex;
    width: 4rem;
    justify-content: flex-end;
  }
  .iconEnter:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 1rem;
  }

  .loginHeader {
    height: 7.5rem;
  }
  .button{
    display: none;
  }
  .loginHeader {
    display: flex;
    justify-content: center; 
  }
  
}