.wrapperAccordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  margin: 0.5rem 0;

}

.wrapperAccordion:hover {
  background-color: rgba(2, 2, 21, 1);
}

.headerAccordion {
  color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
  padding: 0.75rem;
  border-bottom: 0.5px solid #e0e0e04b;
}

.headerAccordion:hover {
  background-color: rgba(2, 2, 21, 1);
}

/* cor do header após clicar */

.bodyAccordion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem;
  margin-top: 0.2rem;
}

.headerAccordion span:last-child {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
