.heading3{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}


.white {
  color: white;
}

.black {
  color: black;
}

.small {
  font-size: 0.875rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.25rem;
}




